body { 
  margin: 0; 
  display: -webkit-box; 
  display: -webkit-flex; 
  display: -ms-flexbox; 
  display: flex; 
  -webkit-box-align: center; 
  -webkit-align-items: center; 
      -ms-flex-align: center; 
          align-items: center;
  background-color: #3456DA;
  height: 100vh;
}

a {
  text-decoration: none;
}

.animation-title {
  color: #fff;
  font-size: 3.82rem;
  font-weight: 700;
  margin:0 0 0.5rem 0;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: -apple-system,
               'avenir next', avenir,
               roboto, noto,
               'helvetica neue', helvetica,
               ubuntu,
               'franklin gothic medium', 'century gothic',
               sans-serif;
}

.wave {
  -webkit-animation: moveTheWave 2400ms linear infinite;
          animation: moveTheWave 2400ms linear infinite;
  stroke-dasharray: 0 16 101 16;
}

@-webkit-keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }

}

@keyframes moveTheWave {

  0% {
    stroke-dashoffset: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  100% {
    stroke-dashoffset: -133;
    -webkit-transform: translate3d(-90px, 0, 0);
            transform: translate3d(-90px, 0, 0);
  }

}